@{
    Layout = "_Layout_main";
}
<div id="pageMasterLoad">
    <div class="HomeDashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="overview-Orders">
                        <div class="filter-table mb-4">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label class="mb-2" for="ddlDepartmentFilter">Departments</label>
                                            <select class="form-select rounded-pill" id="ddlDepartmentFilter" onchange="FilterMain()">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                                        <div class="from-group">
                                            <label class="mb-2" for="">Option</label>
                                            <div class="d-flex">
                                                <div class="form-check me-4">
                                                    <input class="form-check-input" id="chkSuperviesor" type="checkbox" value="1" checked onchange="FilterMain()">
                                                    <label class="form-check-label" for="chkSuperviesor">Supervisor</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" id="chkActive" type="checkbox" value="2" checked onchange="FilterMain()">
                                                    <label class="form-check-label" for="chkActive">Active</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 text-center">
                                        <div class="from-group">
                                            <label class="mb-2" for="">&nbsp;</label>
                                        </div>
                                        <a class="rounded-pill btn btn-outline-master" asp-action="AddUser" asp-controller="Users"><i class="fa-solid fa-plus fa-fw"></i>Add user</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-responsive-scroll" id="dataTablesUsers">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">Assignee</th>
                                    <th scope="col">Login name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">e-mail</th>
                                    <th scope="col">supervisor</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade model-filter-home" id="EditUser" tabindex="-1" aria-labelledby="EditUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel_ed">Edit User</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="EditUserbody">
                <div class="container-fluid">
                    <div class="row">
                        <input id="hdEmpId" type="hidden" />
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label>First name</label>
                                <input class="form-control" id="txtFirstName" type="text">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label>Last name</label>
                                <input class="form-control" id="txtLastName" type="text">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label>e-mail</label>
                                <input class="form-control" id="txtEmail" type="text">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label for="">Mobile</label>
                                <input type="text" class="form-control" id="txtMobile">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <div class="form-group">
                                <label class="mb-2" for="ddlItemDepartment">Department</label>
                                <select class="form-select" id="ddlItemDepartment_ed">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <div class="form-group">
                                <label class="mb-2">User Group</label>
                                <select class="form-select" id="ddlRole_ed">
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">

                            <div class="form-group">
                                <input type="file" class="form-control form-control-sm" id="customFile">
                                @* <small>Only @FileSettings.AllowedExtensions.Replace(",",string.Empty) files are allwoed with max size (@FileSettings.MaxFileSizeInMB) MB</small> *@
                            </div>

                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-check">
                                <div class="form-check form-switch d-flex p-0">

                                    <input class="mx-2 form-check-input" id="chkSuperviesor_ed" type="checkbox" role="switch">
                                    <label class="form-check-label" for="chkSuperviesor_ed">Superviesor</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-check">
                                <div class="form-check form-switch d-flex p-0">

                                    <input class="mx-2 form-check-input" id="chkActive_ed" type="checkbox" role="switch" checked>
                                    <label class="form-check-label" for="chkActive_ed">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button class="btn btn-primary btn-apply rounded-pill col-12" type="button" onclick="saveEditItem()">Save </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            var department = '0';
            // var stock = 0;
            //var staff = 0;

            var ddlDepartmentFilter = $("#ddlDepartmentFilter");
            FillDepartment(ddlDepartmentFilter);

            drawtable(department, 0, 0);


        });
        function totalitems() {
            //321 items has been enlisted
            $.ajax({
                url: '@Url.Action("GetCountItems", "Items")',
                type: "GET",
                dataType: "json",
                cache: false,
                success: function (result) {
                    if (result.success) {

                        var divtotalitems = $('.js-totalitems');
                        divtotalitems.html(`${result.returnData} items has been enlisted`)
                    } else {
                        alert(result.message);
                    }

                },
                error: function (err) {
                    return false;
                }
            });
        }
        function drawtable(department, isSuperviesor, isActive) {
            try {
                // Destroy the existing DataTable, if it exists
                if ($.fn.DataTable.isDataTable("#dataTablesUsers")) {
                    $("#dataTablesUsers").DataTable().destroy();
                }

                $("#dataTablesUsers").DataTable({
                    serverSide: true,
                    stateSave: false,
                    processing: true,
                    info: false,
                    searching: false,
                    lengthChange: false,
                    //colReorder: true,
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                    },
                    ajax: {
                        url: '/users/GetUsers',
                        type: 'POST',
                        cache: false,
                        data: { department, visor: isSuperviesor, bActive: isActive },
                    },
                    order: [[2, 'asc'], [3, 'asc']],
                    // columnDefs: [
                    //     // {
                    //     // targets: [0, 1],
                    //     // visible: false,
                    //     // searchable: false
                    //     // },
                    //     {
                    //         targets: 9, // This targets the last column
                    //         orderable: false // Disable sorting for the last column
                    //     }
                    // ],
                    columns: [
                        { "data": "empID", "name": "EmpID", "className": "d-none", "visible": false, "searchable": false },
                        { "data": "departmentID", "name": "DepartmentID", "className": "d-none", "visible": false, "searchable": false },

                        {
                            "name": "FirstName", "render": function (data, type, row) {
                                var rowDepartment = `
                                                                        <div class="user-card d-flex align-items-center">
                                                                                                        <div class="image me-1"><img src="../Companies/${row.photopath}/images/employee/${row.bPhoto}" alt="" width="25"></div>
                                                                        <div class="text"> ${row.firstName} ${row.lastName}</div>
                                                                        </div>`;

                                return rowDepartment;
                            }
                        },
                        { "data": "userLogin", "name": "UserLogin" },
                        { "data": "departmentName", "name": "DepartmentName" },
                        { "data": "userRoleName", "name": "UserRoleName" },
                        { "data": "sEmail", "name": "sEmail" },
                        {
                            "name": "supervisor ", "render": function (data, type, row) {
                                var rowDiv = '';

                                if (row.supervisor == 0) {

                                    rowDiv = `<div class="Availability"> <i class="fa-solid fa-circle-exclamation text-warning me-2"></i></div>`;
                                }
                                else {
                                    rowDiv = `<div class="Availability" ><i class="fa-solid fa-circle-check text-success me-2" > </i></div >`;
                                }

                                return rowDiv;
                            }
                        },
                        {
                            "name": "bActive ", "render": function (data, type, row) {
                                var rowDiv = '';

                                if (row.bActive == 0) {

                                    rowDiv = `<div class="Availability"> <i class="fa-solid fa-circle-exclamation text-warning me-2"></i></div>`;
                                }
                                else {
                                    rowDiv = `<div class="Availability" ><i class="fa-solid fa-circle-check text-success me-2" > </i></div >`;
                                }

                                return rowDiv;
                            }
                        },
                        {
                            "name": "empID", "render": function (data, type, row) {

                                return `<a class="js-itemsrowedit" data-empid="${row.empID}" href="javascript:" onclick="editUser(this)"> <i class="fa-regular fa-pen-to-square"></i></a><a class="text-danger js-itemsrowdelete" data-empid="${row.empID}" href="javascript:" onclick="deleteUser(this)"> <i class="fa-solid fa-trash-can"></i></a>`;

                            }
                        }
                    ],

                });

                //totalitems();
            }

            catch (err) {

                alert(err.message);

            }

        }

        function FillRoleGroup(ddlobject) {
            $.ajax({
                url: '@Url.Action("GetRoleGroup", "Users")',
                type: "GET",
                dataType: "json",
                cache: false,
                success: function (result) {
                    if (result.success) {
                        ddlobject.empty();
                        ddlobject.append($("<option></option>")
                            .attr("value", "0")
                            .text("Select User Group"));
                        result.returnData.forEach(function (item) {
                            ddlobject.append($("<option></option>")
                                .attr("value", item.value)
                                .text(item.text));
                        });
                    } else {
                        alert(result.message);
                    }
                },
                error: function (err) {
                    return false;
                }
            });
        }
        function FillDepartment(ddlobject) {
            $.ajax({
                url: '@Url.Action("GetDepartment", "Items")',
                type: "GET",
                dataType: "json",
                cache: false,
                success: function (result) {
                    if (result.success) {
                        ddlobject.empty();
                        ddlobject.append($("<option></option>")
                            .attr("value", "0")
                            .text("Select Department"));
                        result.returnData.forEach(function (item) {
                            ddlobject.append($("<option></option>")
                                .attr("value", item.value)
                                .text(item.text));
                        });
                    } else {
                        alert(result.message);
                    }
                },
                error: function (err) {
                    return false;
                }
            });
        }

        function FilterMain() {

            var ddl_Department = $("#ddlDepartmentFilter").val();
            var chk_Superviesor = $("#chkSuperviesor");
            var chk_Active = $("#chkActive");

            var department = '0';
            var Superviesor = 0;
            var isActive = 0;

            if (ddl_Department == null || ddl_Department == "" || ddl_Department == undefined) {
                //alert('Please select Location');
                return false;
            } else {
                department = ddl_Department;
            }

            if (chk_Superviesor.is(':checked') == true) {
                Superviesor = 1;
            }

            if (chk_Active.is(':checked') == true) {
                isActive = 1;
            }

            drawtable(department, Superviesor, isActive);

        }

        function saveEditUser() {
            var objData = {};
            var isSupervisor = 0;
            var isActive = 0;

            var hdEmpId = $('#hdEmpId').val();
            var txtFirstName = $('#txtFirstName').val();
            var txtLastName = $("#txtLastName").val();
            var txtEmail = $("#txtEmail").val();
            var txtMobile = $("#txtMobile").val();

            var chkSuperviesor = $("#chkSuperviesor_ed");
            var chkActive = $("#chkActive_ed");

            var ddlItemDepartment = $("#ddlItemDepartment_ed").val();
            var ddlRole = $("#ddlRole_ed").val();

            if (!txtFirstName) {// } == null)  || txtitem_en == "" || txtitem_en == undefined) {
                alert('Please enter English name');
                return false;
            }
            if (!txtLastName) {// == null || txtitem_ar == "" || txtitem_ar == undefined) {
                alert('Please enter Arabic name');
                return false;
            }
            if (ddlItemDepartment === "0") {//(ddlItemDepartment == null || ddlItemDepartment == "0" || ddlItemDepartment == undefined) {
                alert('Please select department');
                return false;
            }
            if (ddlRole === "0") {//(ddlItemDepartment == null || ddlItemDepartment == "0" || ddlItemDepartment == undefined) {
                alert('Please select User Group');
                return false;
            }

            if (chkSuperviesor.is(':checked') == true) {
                isSupervisor = 1;
            }
            if (chkActive.is(':checked') == true) {
                isActive = 1;
            }

            objData = {
                EmpID: hdEmpId,
                FirstName: txtFirstName,
                LastName: txtLastName,
                sEmail: txtEmail,
                mobile: txtMobile,
                DepartmentID: ddlItemDepartment,
                UserGroup: ddlRole,
                bActive: isActive,
                supervisor: isSupervisor,
                bPhoto: ''

            }

            var jsonData = JSON.stringify(objData);

            $.ajax({
                url: '@Url.Action("SaveEditUser", "Users")',
                type: 'POST',
                dataType: 'json',
                data: { "dataObj": jsonData },
                success: function (data) {

                    if (data != null) {
                        if (data.success == true) {
                            $("#EditUser").modal('hide')
                            //alert(data.returnData);

                            clearModalItem();
                            drawtable("0", 0, 0)
                        }
                        else {
                            //alert(data.returnData);
                            $("#EditUser").modal('show')
                        }

                    }

                },
                error: function (error) {

                    alert(error);
                }
            });
        }
        function editUser(clickedElement) {

            var btnEdit = $(clickedElement);
            var empid = btnEdit.data("empid");
            FillDepartment($("#ddlItemDepartment_ed"));
            FillRoleGroup($("#ddlRole_ed"));
            $.ajax({
                url: '@Url.Action("EditUser", "Users")',
                type: 'POST',
                data: { empid: empid },
                success: function (data) {

                    if (data != null) {
                        if (data.success == true) {
                            $("#hdEmpId").val(data.returnData.empID);
                            $("#txtFirstName").val(data.returnData.firstName);
                            $("#txtLastName").val(data.returnData.lastName);
                            $("#txtEmail").val(data.returnData.sEmail);
                            $("#txtMobile").val(data.returnData.mobile);

                            if (data.returnData.superviesor == 0) {
                                $("#chkSuperviesor_ed").attr("checked", false);
                            }
                            else {
                                $("#chkSuperviesor_ed").attr("checked", true);
                            }

                            if (data.returnData.bActive == 0) {
                                $("#chkActive_ed").attr("checked", false);
                            }
                            else {
                                $("#chkActive_ed").attr("checked", true);
                            }

                            $("#ddlItemDepartment_ed").val(data.returnData.departmentID);
                            $("#ddlRole_ed").val(data.returnData.userGroup);

                            $("#EditUser").modal("show");
                        }
                        else {
                            //alert(data.returnData);
                            $("#EditUser").modal('hide')
                        }

                    }

                },
                error: function (error) {

                    alert(error);
                }
            });

        }

        function deleteUser(clickedElement) {

            var btnEdit = $(clickedElement);
            var empid = btnEdit.data("empid");

            Swal.fire({
                title: 'Are you sure delete User?',
                text: "",
                //icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteUser", "Users")',
                        type: 'POST',
                        data: { empid: empmid },
                        success: function (data) {
                            if (data != null) {
                                if (data.success == true) {
                                    //alert("Deleted");
                                    drawtable("0", 0, 0);
                                }
                                else {
                                    // alert(data.returnData);

                                }

                            }

                        },
                        error: function (error) {

                            alert(error);
                        }
                    });
                }
            })


        }
        function clearModalItem() {

            $('#txtitem_en').val();
            $("#txtitem_ar").val();
            $("#chkService").attr("checked", false);
            $("#optinstock").attr("checked", true);
            $("#optoutstock").attr("checked", false);
            $("#txtQty").val(0);
            $("#txtQty_Minima").val(0);
            $("#ddlItemDepartment").val(0);

            $("#txtitemId_ed").val();
            $("#txtitem_en_ed").val();
            $("#txtitem_ar_ed").val();
            $("#chkService_ed").attr("checked", false);
            $("#optinstock_ed").attr("checked", false);
            $("#optoutstock_ed").attr("checked", false);
            $("#txtQty_ed").val(0);
            $("#txtQty_Minima_ed").val(0);
            $("#ddlItemDepartment_ed").val(0);
        }
        function clearSrvice() {

            if ($("#chkService").is(':checked') == true) {

                $("#optinstock").attr("checked", false);
                $("#optoutstock").attr("checked", false);
                $("#txtQty").val(0);
                $("#txtQty_Minima").val(0);

            }
            else {
                $("#optinstock").attr("checked", true);
                $("#optoutstock").attr("checked", false);

            }
        }



    </script>
}