@model IdentityPermissionsFormVM
@using LodgeMasterWeb.Contants

@{
    //ViewData["Title"] = "Manage Permissions";
    Layout = "_Layout_main";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pt-3">
            <header class="header-filter">
                <div class="group-filter d-flex">

                </div>
                <div class="date">
                    @ViewBag.DisplayCurrntDate
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill btn-master" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-plus me-2"></i> Create
                    </button>
                    <ul class="dropdown-menu bg-primary text-white">

                            <li><a class="dropdown-item text-white" asp-controller="CreateOrders" asp-action="Index"><i class="fa-solid fa-plus me-2"></i> Order</a></li>
                            <li><a class="dropdown-item text-white" asp-controller="InspectionOrder" asp-action="InspectionOrder"><i class="fa-solid fa-plus me-2"></i> Room inspiction</a></li>
                       
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>
<div id="pageMasterLoad">
    <div class="HomeDashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <div class="overview-Orders mb-5">
                        <form asp-action="ManagePermissions" method="post">
                            <div class="card mt-4">
                                <div class="card-header">
                                    <h2>@Model.RoleName</h2>
                                    Add/Remove Permissions
                                </div>
                                <div class="card-body">
                                    <input type="hidden" asp-for="RoleId" />
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>

                                                <th>Module</th>
                                                <th>Permission</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @{
                                                //var crol = Enum.GetValues(typeof(moduleScreen));
                                                foreach (var item in Enum.GetValues(typeof(moduleScreen)))
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="form-check-input js-mastercheckbox" onchange="selectAll(this)" />
                                                        @item
                                                    </td>
                                                    <td>
                                                        @for (int i = 0; i < Model.RoleCalims.Count; i++)
                                                        {
                                                            if (Model.RoleCalims[i].DisplayValue.Split(".")[1] == item.ToString())
                                                            {

                                                                <div class="form-check m-1">
                                                                    <input type="hidden" asp-for="@Model.RoleCalims[i].DisplayValue" />
                                                                    <input type="checkbox" asp-for="@Model.RoleCalims[i].IsSelected" class="form-check-input js-subCheckbox" />
                                                                    <label class="form-check-label" asp-for="@Model.RoleCalims[i].IsSelected">
                                                                        @Model.RoleCalims[i].DisplayValue.Split('.')[2]
                                                                    </label>
                                                                    @*<label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                                                        @Model.Roles[i].DisplayValue.Split('.')[2]
                                                        </label> *@
                                                                </div>

                                                                @*  <td>@Model.RoleCalims[i].DisplayValue.Split('.')[1]</td> *@
                                                                @* <td>@Model.RoleCalims[i].DisplayValue.Split('.')[2]</td> *@
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            }
                                        </tbody>
                                    </table>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on('change', '.js-masterCheckbox', function () {
                // Find all sub checkboxes within the row and check/uncheck them
                $(this).closest('tr').find('.js-subCheckbox').prop('checked', this.checked);
            });
        });

        function selectAll(element) {
            var masterCheckbox = $(element);
            var $row = masterCheckbox.closest('tr');
            // Find all sub checkboxes within the row and check/uncheck them
            $row.find('.js-subCheckbox').prop('checked', masterCheckbox.prop('checked'));
        }
    </script>
}
