@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout_main";

}

@{
    var permissions = new List<KeyValuePair<string, string>>();

    // استرجاع الصلاحيات من الجلسة إذا كانت موجودة
    var permissionsJson = HttpContextAccessor.HttpContext.Session.GetString("UserPermissions");

    if (!string.IsNullOrEmpty(permissionsJson))
    {
        permissions = JsonConvert.DeserializeObject<List<KeyValuePair<string, string>>>(permissionsJson);
    }

    // التحقق من وجود صلاحيات معينة
    bool canRole = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Role.View");
    bool canEdit = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Edit");
    bool canDelete = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Delete");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pt-3">
            <header class="header-filter">
                <div class="group-filter d-flex">
                    <div class="input-group me-3">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-master" id="button-addon2" type="button"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <button class="btn btn-outline-master d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-solid fa-arrow-down-wide-short me-2"></i>Filter</button>
                </div>
                <div class="date">
                    @ViewBag.DisplayCurrntDate
                </div>
@*                 <a class="btn btn-master d-flex align-items-center rounded-pill btn-Create-Order" asp-controller="CreateOrders" asp-action="Index">
                    <i class="fa-solid fa-plus me-2"></i>Create Order
                </a> *@
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill btn-master" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-plus me-2"></i> Create
                    </button>
                    <ul class="dropdown-menu bg-primary text-white">
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.CreateOrders.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="CreateOrders" asp-action="Index"><i class="fa-solid fa-plus me-2"></i> Order</a></li>
                        }
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.InspectionOrder.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="InspectionOrder" asp-action="InspectionOrder"><i class="fa-solid fa-plus me-2"></i> Room inspiction</a></li>
                        }
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>
<div id="pageMasterLoad">
    <div class="HomeDashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <div class="overview-Orders mb-5">
                        <div class="d-flex justify-content-between mb-4">
                            <h4>Role</h4>
                            <button class="rounded-pill px-4 btn btn-outline-master" data-bs-toggle="modal" data-bs-target="#AddRole"> <i class="fa-solid fa-plus me-2"></i>Add Role</button>
                        </div>
                        <table class="table table-responsive-scroll data-Tables" id="dataTablesRole">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Role name</th>
                                    <th scope="col">Role description</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade model-filter-home" id="AddRole" tabindex="-1" aria-labelledby="AddRoleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Role</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="AddRolebody">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label>Role Name</label>
                                <input class="form-control" type="text" id="txtRole_en">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label>Role Description</label>
                                <input class="form-control" type="text" id="txtRole_Desc">
                            </div>
                        </div>

                        <div class="col-lg-12 mb-2">
                            <div class="form-check form-switch d-flex p-0">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                                <input class="mx-2 form-check-input" id="chkActive" type="checkbox" role="switch">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button class="btn btn-primary btn-apply rounded-pill col-12" type="button" onclick="createRole()">ADD </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade model-filter-home" id="EditRole" tabindex="-1" aria-labelledby="EditRoleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel_ed">Edit Role</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="EditRolebody">
                <div class="container-fluid">
                    <div class="row">
                        <input type="hidden" id="hdRoleid" />
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label>Role Name</label>
                                <input class="form-control" type="text" id="txtRole_en_ed">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-group">
                                <label>Role Description</label>
                                <input class="form-control" type="text" id="txtRole_Desc_ed" >
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <div class="form-check form-switch d-flex p-0">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                                <input class="mx-2 form-check-input" id="chkActive_ed" type="checkbox" role="switch">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button class="btn btn-primary btn-apply rounded-pill col-12" type="button" onclick="saveEditRole()">Save </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            // var isActive = 0;

            drawtable();


        });

        function drawtable() {
            try {
                // Destroy the existing DataTable, if it exists
                if ($.fn.DataTable.isDataTable("#dataTablesRole")) {
                    $("#dataTablesRole").DataTable().destroy();
                }

                $("#dataTablesRole").DataTable({
                    serverSide: true,
                    stateSave: false,
                    processing: true,
                    info: false,
                    searching: false,
                    lengthChange: false,
                    language: {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
                    },
                    ajax: {
                        url: '/Role/GetRole',
                        type: 'POST',
                        cache: false,
                        //data: { bActive: isActive },
                    },
                    order: [[1, 'asc']],
                    // columnDefs: [
                    //     // {
                    //     // targets: [0, 1],
                    //     // visible: false,
                    //     // searchable: false
                    //     // },
                    //     {
                    //         targets: 9, // This targets the last column
                    //         orderable: false // Disable sorting for the last column
                    //     }
                    // ],
                    columns: [
                        { "data": "roleID", "name": "RoleID", "className": "d-none", "visible": false, "searchable": false },
                        
                        { "data": "roleName_E", "name": "RoleName_E" },
                        { "data": "roleDesc_E", "name": "RoleDesc_E" },
                        {
                            "name": "bActive ", "render": function (data, type, row) {
                                var rowDiv = '';

                                if (row.bActive == 0) {

                                    rowDiv = `<div class="Availability"> <i class="fa-solid fa-circle-exclamation text-warning me-2"></i></div>`;
                                }
                                else 
                                {
                                    rowDiv = `<div class="Availability"><i class="fa-solid fa-circle-check text-success me-2"> </i></div >`;
                                }

                                return rowDiv;
                            }
                        },
                        {
                            "name": "RoleID", "render": function (data, type, row) {

                                return `<a class="js-itemsrowdetail" data-roleid="${row.roleID}" href="javascript:" onclick="detailRole(this)"> <i class="fa-solid fa-eye"></i></a>
                                                        <a class="js-itemsrowedit" data-roleid="${row.roleID}" href="javascript:" onclick="editRole(this)"> <i class="fa-regular fa-pen-to-square"></i></a>
                                                        <a class="text-danger js-itemsrowdelete" data-roleid="${row.roleID}" href="javascript:" onclick="deleteRole(this)"> <i class="fa-solid fa-trash-can"></i></a>`;

                            }
                        }
                    ],

                });

            }

            catch (err) {
                console.error("An error occurred:", err.message);
                alert(err.message);


            }

        }


        function createRole() {
            var objData = {};
            var isActive = 0;


            var txtRole_en = $('#txtRole_en').val();
            var txtRole_Desc = $("#txtRole_Desc").val();
            var chkActive = $("#chkActive");

            if (!txtRole_en) {// } == null)  || txtitem_en == "" || txtitem_en == undefined) {
                alert('Please enter Role name');
                return false;
            }

            if (chkActive.is(':checked') == true) {
                isActive = 1;
            }

            objData = {

                bActive: isActive,
                RoleName_E: txtRole_en,
                RoleDesc_E: txtRole_Desc
            }

            var jsonData = JSON.stringify(objData);

            $.ajax({
                url: '@Url.Action("CreateRole", "Role")',
                type: 'POST',
                dataType: 'json',
                data: { "dataObj": jsonData },
                success: function (data) {

                    if (data != null) {
                        if (data.success == true) {
                           // alert(data.returnData);
                            $("#AddRole").modal('hide');
                            clearModalRole();
                            drawtable();
                        }
                        else {
                            alert(data.returnData);
                            $("#AddRole").modal('show');
                        }

                    }

                },
                error: function (error) {

                    alert(error);
                }
            });


        }
        function saveEditRole() {
            var objData = {};
            var isActive = 0;

            var hdRoleid = $('#hdRoleid').val();
            var txtRole_en_ed = $('#txtRole_en_ed').val();
            var txtRole_Desc_ed = $("#txtRole_Desc_ed").val();
            var chkActive_ed = $("#chkActive_ed");


            if (!hdRoleid) {// } == null)  || txtitem_en == "" || txtitem_en == undefined) {
                alert('Please select Role');
                return false;
            }
            if (!txtRole_en_ed) {// } == null)  || txtitem_en == "" || txtitem_en == undefined) {
                alert('Please enter Role name');
                return false;
            }
            if (chkActive_ed.is(':checked') == true) {
                isActive = 1;
            }


            objData = {
                RoleID: hdRoleid,
                bActive: isActive,
                RoleName_E: txtRole_en_ed,
                RoleDesc_E: txtRole_Desc_ed
            }
            
            
            var jsonData = JSON.stringify(objData);

            $.ajax({
                url: '@Url.Action("SaveEditRole", "Role")',
                type: 'POST',
                dataType: 'json',
                data: { "dataObj": jsonData },
                success: function (data) {

                    if (data != null) {
                        if (data.success == true) {
                            $("#EditRole").modal('hide')
                            //alert(data.returnData);

                            clearModalRole();
                            drawtable()
                        }
                        else {
                            //alert(data.returnData);
                            $("#EditRole").modal('show')
                        }

                    }

                },
                error: function (error) {

                    alert(error);
                }
            });
        }
        function editRole(clickedElement) {

            var btnEdit = $(clickedElement);
            var depid = btnEdit.data("roleid");

            $.ajax({
                url: '@Url.Action("EditRole", "Role")',
                type: 'POST',
                data: { depid: depid },
                success: function (data) {

                    if (data != null) {

                        if (data.success == true) {
                            
                            clearModalRole();

                            $("#hdRoleid").val(data.returnData.roleID);
                            $("#txtRole_en_ed").val(data.returnData.roleName_E);
                            $("#txtRole_Desc_ed").val(data.returnData.roleDesc_E);

                            if (data.returnData.bActive == 0) {
                                $("#chkActive_ed").attr("checked", false);
                            }
                            else {
                                $("#chkActive_ed").attr("checked", true);
                            }

                            $("#EditRole").modal("show");
                        }
                        else {
                            //alert(data.returnData);
                            $("#EditRole").modal('hide')
                        }

                    }

                },
                error: function (error) {

                    alert(error);
                }
            });

        }
        function deleteRole(clickedElement) {

            var btnEdit = $(clickedElement);
            var depid = btnEdit.data("roleid");

            Swal.fire({
                title: 'Are you sure delete Role?',
                text: "",
                //icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteRole", "Role")',
                        type: 'POST',
                        data: { depid: roleid },
                        success: function (data) {
                            if (data != null) {
                                if (data.success == true) {
                                    drawtable();
                                }
                                else {
                                    // alert(data.returnData);

                                }
                            }
                        },
                        error: function (error) {

                            alert(error);
                        }
                    });
                }
            })


        }
        function clearModalRole() {

            $('#txtRole_en').val();
            $("#txtRole_Desc").val();
            $("#chkActive").attr("checked", true);

            $("#chkActive_ed").attr("checked", false);
            $("#txtRole_en_ed").val();
            $("txtRole_Desc_ed").val();
            $("#hdRoleid").val();

        }

        function detailRole(clickedElement) {

            var btnEdit = $(clickedElement);
            var depid = btnEdit.data("roleid");
            alert("Coming soon");
            return false;
            $.ajax({
                url: '@Url.Action("DetaileRole", "Role")',
                type: 'POST',
                data: { depid: depid },
                success: function (data) {

                    if (data != null) {

                        if (data.success == true) {
                            alert("Good");
                           // $("#EditRole").modal("show");
                        }
                        else {
                            //alert(data.returnData);
                            //$("#EditRole").modal('hide')
                        }

                    }

                },
                error: function (error) {

                    alert(error);
                }
            });

        }

    </script>
}