@model InspectionWizardViewModel
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout_main";
}
@{
    var permissions = new List<KeyValuePair<string, string>>();

    // استرجاع الصلاحيات من الجلسة إذا كانت موجودة
    var permissionsJson = HttpContextAccessor.HttpContext.Session.GetString("UserPermissions");

    if (!string.IsNullOrEmpty(permissionsJson))
    {
        permissions = JsonConvert.DeserializeObject<List<KeyValuePair<string, string>>>(permissionsJson);
    }

    // التحقق من وجود صلاحيات معينة
    bool canRole = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Role.View");
    bool canEdit = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Edit");
    bool canDelete = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Delete");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pt-3">
            <header class="header-filter">
                <div class="group-filter d-flex">
                    @*                     <div class="input-group me-3">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-master" id="button-addon2" type="button"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <button class="btn btn-outline-master d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-solid fa-arrow-down-wide-short me-2"></i>Filter</button>
                    *@
                </div>
                <div class="date">
                    @ViewBag.DisplayCurrntDate
                </div>
@*                 <a class="btn btn-master d-flex align-items-center rounded-pill btn-Create-Order" asp-controller="CreateOrders" asp-action="Index">
                    <i class="fa-solid fa-plus me-2"></i>Create Order
                </a> *@
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill btn-master" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-plus me-2"></i> Create
                    </button>
                    <ul class="dropdown-menu bg-primary text-white">
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.CreateOrders.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="CreateOrders" asp-action="Index"><i class="fa-solid fa-plus me-2"></i> Order</a></li>
                        }
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.InspectionOrder.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="InspectionOrder" asp-action="InspectionOrder"><i class="fa-solid fa-plus me-2"></i> Room inspiction</a></li>
                        }
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>
<div id="pageMasterLoad">
    <div class="Create-Order">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="Create-Order">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="button-room card-master">
                                        <input type="hidden" id="hfInspectionGUID" value="@Model.InspectionGUID" />
                                        <input type="hidden" id="hfInspectionId" value="@Model.InspectionId" />
                                        <input type="hidden" id="hfPartId" value="@Model.PartId" />
                                        <input type="hidden" id="hfQuestionId" value="@Model.QuestionId" />
                                        <input type="hidden" id="hfInspectionBasketId" value="@Model.InspectionBasketId" />
                                        <input type="hidden" id="hfSortQuestion" value="@Model.SortQuestion" />

                                        <div class="step-app mb-5" id="demo">
                                            <ul class="step-steps mb-5" id="ulparts">
                                                @{

                                                    foreach (var item in Model.LstParts)
                                                    {
                                                        if (item.PartActive == 1)
                                                        {
                                                            <li class="active js-active" data-partid="@item.PartId">
                                                                <div class="content-text"><span class="icon">@item.PartNo </span><span>@item.PartName</span></div>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li class="js-active" data-partid="@item.PartId">
                                                                <div class="content-text js-particon"><span class="icon">@item.PartNo</span><span>@item.PartName</span></div>
                                                            </li>

                                                        }
                                                    }
                                                }
                                            </ul>

                                            <div class="step-content">
                                                <div class="step-tab-panel active" data-step="step1">
                                                    <h3 id="txtCurrntPart" class="text-center text-primary mb-4">@Model.PartName</h3>
                                                    <h2 id="txtCurrntQuestion" class="text-center mb-5">@Model.QuestionNo/@Model.QuestionTotal - @Model.QuestionName</h2>
                                                    <div class="d-flex justify-content-center">
                                                        <input type="hidden" id="hfsubmitdata" value="0" />
                                                        <button id="btnAwnserYes" data-sub="0" class="btn mx-2 btn-primary p-2 px-5 rounded-pill" type="button" value="0" onclick="answers(this,'1')">Yes</button>
                                                        <button id="btnAwnserNo" data-sub="0" class="btn mx-2 btn-outline-master p-2 px-5 rounded-pill" value="0" onclick="answers(this,'0');">No</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label for="exampleFormControlTextarea1">Comments</label>
                                                    <textarea class="form-control form-Textarea" id="txtCommet" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label for="exampleFormControlTextarea1">Photos Attachment (You much attach the photos)</label>

                                                    <div class="upload-content" id="dragArea">
  
                                                        <input id="inputFileUpload" type="file" name="" class="">
                                                        <div class="card w-100 info-view d-none">
                                                            <div class="row g-0 align-items-center">
                                                                <div class="col-md-2">
                                                                    <img class="img-fluid rounded-0 rounded-start w-100 border-end" id="imgPreview" src="" alt="...">
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title" id="title-file"></h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 text-center">
                                                                    <a class="btn btn-outline-danger" id="deleteItem"><i class="fa-solid fa-xmark fa-lg"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @* <div class="col-lg-6">
                                                <div class="form-group mb-3">
                                                    <label for="exampleFormControlTextarea1">Photos Attachment (You much attach the photos)</label>
                                                    <div class="upload-content" id="dragArea">

                                                        <div class="d-flex justify-content-center">
                                                            <input type="file" name="filePic" id="filePic">
                                                             <input id="capture" type="file" name="fileCapture" id="fileCapture" accept="image/*,video/*" capture multiple hidden>
                                                            <button class="TakePhotos btn btn-outline-dark mx-2 fileUpload">Take Photos  </button>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div> *@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const photoInp = $("#inputFileUpload");
        let file;
        $('#deleteItem').click(function (e) {
            $('.info-view').addClass('d-none');
            photoInp.removeClass('d-none');
            photoInp.val('');
        });
        photoInp.change(function (e) {
            photoInp.addClass('d-none');
            $('.info-view').removeClass('d-none')
            let info = photoInp.val().split('\\').pop();
            $('#title-file').append(info)
            file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (event) {
                    $("#imgPreview")
                        .attr("src", event.target.result);
                };
                reader.readAsDataURL(file);
            }
        })
    </script>
    <script>
            


        function answers(clickedElement, userAnswer) {
            try {
                var objData = {};
                var answer = userAnswer;
                //alert("1");
                var inspectionGUID = $("#hfInspectionGUID").val();
                var inspectionId = $("#hfInspectionId").val();
                var partId = $("#hfPartId").val();
                var questionId = $("#hfQuestionId").val();
                var inspectionBasketId = $("#hfInspectionBasketId").val();
                var sortQuestion = $("#hfSortQuestion").val();
                var txtCommet = $("#txtCommet").val();

                var fileInput = $("#inputFileUpload")[0];
                var file = fileInput.files[0];

                var btnsubmit = $(clickedElement);
                // alert(btnsubmit.data("sub"));
                // alert(btnsubmit.val());
                //alert($("#hfsubmitdata").val());


                //alert(userAnswer);
                //alert("inspectionGUID: " + inspectionGUID);
                if (inspectionGUID == null) {
                    return false;
                }
                //alert("inspectionId: " + inspectionId);
                if (inspectionId == null) {
                    return false;
                }
                //alert("partId: " + partId);
                if (partId == null) {
                    return false;
                }
                //alert("questionId: " + questionId);
                if (questionId == null) {
                    return false;
                }
                //alert("inspectionBasketId: " + inspectionBasketId);
                if (inspectionBasketId == null) {
                    return false;
                }
                //alert("3");
                objData = {
                    InspectionGUID: inspectionGUID,
                    InspectionId: inspectionId,
                    PartId: partId,
                    QuestionId: questionId,
                    InspectionBasketId: inspectionBasketId,
                    SortQuestion: sortQuestion,
                    UserAnswer: answer,
                    CommetAnswer: txtCommet
                }
                //console.log(objData);
                var jsonData = JSON.stringify(objData);

                var formData = new FormData();

                formData.append("dataObj", jsonData);

                //if (btnsubmit.data("sub")== 0) {
                if ($("#hfsubmitdata").val() == "0") {

                    if (file) {
                        formData.append("file", file);
                    }
                    else {
                        formData.append("file", null);
                    }

                    $.ajax({
                        url: '@Url.Action("AnswerYes", "InspectionOrder")',
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data.success) {
                                //alert(data.currntQuestion);
                                NextQuestion(data.currntQuestion);
                                clearCommetImage();
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function (err) {
                            return false;
                        }
                    });
                }
                else {
                    //alert("submit");
                    $.ajax({
                        url: '@Url.Action("FinishInspection", "InspectionOrder")',
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data.success) {
                                //alert("after finish");
                                window.location.href = '/Dashboard/Index/';
                            } else {
                                alert(data.message);
                            }
                        },
                        error: function (err) {
                            return false;
                        }
                    });
                }
            }
            catch (error) {
                alert("An error occurred: " + error.message);
            }
        }
        function clearCommetImage(){
            $("#txtCommet").val('');
            var inputFile = $("#inputFileUpload");

            // Clear the value of the file input
            inputFile.val('');
        }

        function NextQuestion(noQuestion) {

            //alert("next Question:" + noQuestion);
            var inspectionGUID = $("#hfInspectionGUID").val();
            var inspectionId = $("#hfInspectionId").val();
            var partId = $("#hfPartId").val();
            var questionId = $("#hfQuestionId").val();
            var inspectionBasketId = $("#hfInspectionBasketId").val();

            if (!noQuestion || noQuestion > 0) {

                objData = {
                    InspectionGUID: inspectionGUID,
                    InspectionId: inspectionId,
                    PartId: partId,
                    QuestionId: questionId,
                    InspectionBasketId: noQuestion,

                }

                var jsonData = JSON.stringify(objData);

                $.ajax({
                    url: '@Url.Action("NextQuestion", "InspectionOrder")',
                    type: 'POST',
                    dataType: 'json',
                    data: { "dataObj": jsonData },
                    success: function (data) {

                        if (data != null) {
                            if (data.success == true) {
                                clearUserAdd
                                //alert("Ok Next");

                                //alert(data.currntQuestion.partName);
                                //alert(data.currntQuestion.questionNo + '/' + data.currntQuestion.questionTotal + ' - ' + data.currntQuestion.questionName);
                                //console.log(data.currntQuestion);

                                if (data.currntQuestion > "0") {
                                    $("#txtCurrntPart").val(data.currntQuestion.partName);
                                    $("#txtCurrntPart").text(data.currntQuestion.partName);
                                    $("#txtCurrntQuestion").val(data.currntQuestion.questionNo + '/' + data.currntQuestion.questionTotal + ' - ' + data.currntQuestion.questionName);
                                    $("#txtCurrntQuestion").text(data.currntQuestion.questionNo + '/' + data.currntQuestion.questionTotal + ' - ' + data.currntQuestion.questionName);

                                    //console.log("Next: " + data.currntQuestion.partId);
                                    //console.log("Prev: " + partId);
                                    if (data.currntQuestion.partId != partId) {

                                        // Loop through elements with the class 'custom-element'
                                        $('.js-active').each(function () {
                                            // Read the data-action attribute value
                                            var action = $(this).data('partid');
                                            //alert(action);
                                            // Add or remove class based on the data-action value
                                            if (action === data.currntQuestion.partId) {
                                                $(this).addClass('active');
                                            } else {
                                                //$(this).removeClass('active');
                                            }
                                        });
                                    }
                                    $("#hfInspectionGUID").val(data.currntQuestion.inspectionGUID);
                                    $("#hfInspectionId").val(data.currntQuestion.inspectionId);
                                    $("#hfPartId").val(data.currntQuestion.partId);
                                    $("#hfQuestionId").val(data.currntQuestion.questionId);
                                    $("#hfInspectionBasketId").val(data.currntQuestion.inspectionBasketId);
                                    $("#hfSortQuestion").val(data.currntQuestion.sortQuestion);
                                    // alert(data.currntQuestion.questionName);
                                }
                            }
                            else {
                                alert("Bad");

                            }

                        }

                    },
                    error: function (error) {

                        alert(error);
                    }
                });
            }
            else if (noQuestion = -1) {
                //Finish inspection

                //alert("OOOOOOK-1");
                // window.location.href = '/InspectionWizard/FinishQuestion/';

                $("#txtCurrntPart").text("Submit");
                $("#txtCurrntQuestion").text("Submit your inspection");
                $("#btnAwnserYes").text("Submit");
                $("#btnAwnserNo").text("Cancel");

                //$("#btnAwnserYes").attr("data-sub", "1");
                //$("#btnAwnserNo").attr("data-sub", "1");

                ////
                $("#hfsubmitdata").val("1");
                $("#btnAwnserYes").val("1");
                $("#btnAwnserNo").val("1");
                ////

                //$("#btnAwnserNo").attr("",);

                //$("#txtCommet").attr("display", "disabled");
                $("#txtCommet").prop("disabled", true);
                $("#dragArea").prop("disabled", true);
                $("#inputFileUpload").prop("disabled", true);


            }

        } 
        function clearUserAdd() {

            $("#txtCommet").text('');
            $("#txtCommet").val('');

            $("#inputFileUpload").val('');
            //$("#fileCapture").val('');
            $("#dragArea").val('');
        }
    </script>
}
