@model IdentityUserViewModel
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout_main";
}
@{
    var permissions = new List<KeyValuePair<string, string>>();

    // استرجاع الصلاحيات من الجلسة إذا كانت موجودة
    var permissionsJson = HttpContextAccessor.HttpContext.Session.GetString("UserPermissions");

    if (!string.IsNullOrEmpty(permissionsJson))
    {
        permissions = JsonConvert.DeserializeObject<List<KeyValuePair<string, string>>>(permissionsJson);
    }

    // التحقق من وجود صلاحيات معينة
    bool canRole = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Role.View");
    bool canEdit = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Edit");
    bool canDelete = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Delete");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pt-3">
            <header class="header-filter">
                <div class="group-filter d-flex">
                    @* <div class="input-group me-3">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-master" id="button-addon2" type="button"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <button class="btn btn-outline-master d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-solid fa-arrow-down-wide-short me-2"></i>Filter</button>
                    *@
                </div>
                <div class="date">
                    @ViewBag.DisplayCurrntDate
                </div>
@*                 <a class="btn btn-master d-flex align-items-center rounded-pill btn-Create-Order" asp-controller="CreateOrders" asp-action="Index">
                    <i class="fa-solid fa-plus me-2"></i>Create Order
                </a> *@
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill btn-master" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-plus me-2"></i> Create
                    </button>
                    <ul class="dropdown-menu bg-primary text-white">
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.CreateOrders.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="CreateOrders" asp-action="Index"><i class="fa-solid fa-plus me-2"></i> Order</a></li>
                        }
                        @if (permissions != null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.InspectionOrder.Create"))
                        {
                            <li><a class="dropdown-item text-white" asp-controller="InspectionOrder" asp-action="InspectionOrder"><i class="fa-solid fa-plus me-2"></i> Room inspiction</a></li>
                        }
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>
<div id="pageMasterLoad">
    <div class="HomeDashboard">
        <div class="container-fluid">
            <div class="row">
                 <form asp-controller="IdentityUser" asp-action="AddUser" enctype="multipart/form-data" id="userForm">
                    <div class="col-lg-12 mb-4">
                        <div class="overview-Orders">
                            <h1 class="text-center mb-3">Add User</h1>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label>First name</label>
                                            <input class="form-control" asp-for="FirstName" type="text">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label asp-for="LastName">Last name</label>
                                            <input class="form-control" asp-for="LastName" type="text">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input class="form-control" id="txtemail" type="email" asp-for="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label for="">Mobile</label>
                                            <input type="text" class="form-control" id="txtMobile" asp-for="PhoneNumber" placeholder="5xxxxxxxx">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            <span id="mobileError" class="text-danger" style="display:none;">The number is incorrect. It must start with 5 and consist of 9 digits.</span>
                                            <span id="duplicateError" class="text-danger" style="display:none;">The number already exists.</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label for="">Department</label>
                                            <select class="form-select " id="ddlDepartment" asp-for="DepartmentID" asp-items="Model.LstDepartment">
                                                
                                            </select>
                                            <span asp-validation-for="DepartmentID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">

@*                                         <div class="form-group">
                                            Select Roles: <br />
                                            @{
                                                <div class="checkbox-container">
                                                    @if (Model.LstAllRoles != null && Model.LstAllRoles.Any())
                                                    {
                                                        foreach (var item in Model.LstAllRoles)
                                                        {
                                                            <input type="checkbox" id="chk-@item.Text" name="chk-@item.Text" value="@item.Value" />
                                                            <label for="chk-@item.Text"> @item.Text </label>
                                                            <br />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <p>No roles available</p>
                                                    }
                                                </div>
                                            }
                                        </div> *@
                                         <div class="form-group">
                                        <label for="">Roles</label>
                                            <select asp-for="RoleSelectedValues" class="form-select js-selectMultipl" multiple aria-label="Default select example" asp-items="Model.LstAllRoles">
                                        </select>
                                        @* <span asp-validation-for="UserGroup" class="text-danger"></span> *@
                                        </div> 
                                    </div>

                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-4">
                                        <div class="form-check form-switch d-flex p-0">
                                            <input class="mx-2 form-check-input" id="chkActive" type="checkbox" asp-for="bActive2" role="switch" checked>
                                            <label class="form-check-label" for="chkActive">Active</label>
                                        </div>
                                        <div class="form-check form-switch d-flex p-0">
                                            <input class="mx-2 form-check-input" id="chkSuperviesor" type="checkbox" asp-for="supervisor2" role="switch">
                                            <label class="form-check-label" for="chkSuperviesor">Superviesor</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-4">

                                    </div>
                                    <input type="hidden" id="txtLoginName" asp-for="UserName" value="TempUser">
@*                                     <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label for="">Login name</label>
                                            <input type="text" class="form-control" id="txtLoginName" asp-for="UserName">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div> *@
@*                                     <div class="col-lg-5 col-md-6 col-sm-12 mb-2">

                                        <div class="form-group">
                                             <input type="file" class="form-control form-control-sm" asp-for="EmployeeImage" id="customFile"> 
                                             <small>Only @FileSettings.AllowedExtensions files are allwoed with max size (@FileSettings.MaxFileSizeInMB) MB</small> 
                                        </div>
                                    </div> *@
@*                                     <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label for="">password</label>
                                            <input type="text" class="form-control" id="txtPassworde" asp-for="hd_Password">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                            <label for="">confirm password</label>
                                            <input type="text" class="form-control" id="txtPasswordeConfirm" asp-for="hd_ConfirmdPassword">
                                        </div>
                                    </div> *@
                                    <div class="d-flex justify-content-center">
                                        <button id="btnSubmit" class="btn btn-primary me-2" type="submit"> Add</button>
                                        <a asp-action="IdentityUsers" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form> 
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_validationscriptspartial" />
    <script>
        $(document).ready(function () {
            $('#btnSubmit').on('click', function (e) {
                console.log("11");
                
                e.preventDefault(); // منع الإرسال الافتراضي للنموذج
                var mobileNumber = $('#txtMobile').val();
                var regex = /^5\d{8}$/; // التحقق من أن الرقم يبدأ بـ 5 ويتكون من 9 أرقام
                var isValid = regex.test(mobileNumber);

                $('#mobileError').hide();
                $('#duplicateError').hide();
                console.log("22");
                if (!isValid) {
                    $('#mobileError').show();
                    console.log("33");
                    return;
                }
                console.log("44");
                // التحقق من تكرار الرقم في قاعدة البيانات
                $.ajax({
                    url: '/IdentityUser/CheckMobile', // تعديل الرابط ليتوافق مع الميثود في الكود الخلفي
                    type: 'POST',
                    data: { mobileNumber: mobileNumber },
                    success: function (response) {
                        if (response.exists) {
                            $('#duplicateError').show();
                            console.log("55");
                        } else {
                            $('#userForm').submit(); // إرسال النموذج بعد التحقق
                            console.log("66");
                        }
                    },
                    error: function () {
                        alert('حدث خطأ أثناء التحقق من الرقم.');
                    }
                });
            });
        });
    </script>
    
}