@{
    Layout = null;
}
<div id="pageMasterLoad">
    <div class="Create-Order">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="Create-Order mt-4">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-master mb-4">
                                        <div class="title-card position-relative text-center">
                                            <a onclick="OnClickBack();" class="position-absolute top-0 start-0" href="javascript:void(0);"><i class="fa-solid fa-arrow-left-long"></i></a>
                                            <h4 class="mb-4">Assignees</h4>
                                        </div>
                                    </div>
                                   @*  @{
                                        foreach (var item in Model.OrderItems)
                                        {
                                            <div class="card-master mb-4">
                                                <div class="body-card">
                                                    <div class="d-flex justify-content-between flex-wrap mb-4">
                                                        <h4>@item.ItemName</h4>
                                                        <div class="group-icon d-flex">
                                                            <a class="btn btn-outline-primary mx-2" href="" data-bs-toggle="modal" data-bs-target="#ChangeAssignee"> <i class="fa-solid fa-pencil fa-fw me-2"> </i>Edit</a>
                                                            <button class="btn btn-outline-danger mx-2 " data-itemid="@item.ItemID" type="button"> <i class="fa-regular fa-trash-can fa-fw me-2"> </i>Remove</button>
                                                        </div>
                                                    </div>
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-8 col-md-12 col-sm-12 mb-4 p-0">
                                                                <h5 class="mb-4">Department</h5>
                                                                <div class="group-button">
                                                                    @{
                                                                        foreach (var dep in Model.LstDepartment)
                                                                        {
                                                                            if (dep.Value == item.DepartmentID)
                                                                            {
                                                                                <span class="btn mx-2 rounded-pill btn-outline-master mb-3 active" data-departmentid="@dep.Value" data-itemid="@item.ItemID">@dep.Text</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="btn mx-2 rounded-pill btn-outline-master mb-3" data-departmentid="@dep.Value" data-itemid="@item.ItemID">@dep.Text</span>
                                                                            }
                                                                        }
                                                                    }

                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
                                                                <h5 class="mb-4">Assignee</h5>
                                                                <div class="label-Assignee">
                                                                    <div class="icon"> <span>@item.EmployeeName.Substring(0,1).ToUpper()</span></div>
                                                                    <div class="text">@item.EmployeeName</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    } *@

                                    <a class="btn btn-dark d-block w-100 mb-5 p-3" href="button" data-bs-toggle="modal" data-bs-target="#OrderPlaced">Place Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function OnClickBack() {
            $(".PageView2").hide();
            $(".PageView1").show();
        }
    </script>
}