@model ProfileViewModel
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout_main";
}

@{
    var permissions = new List<KeyValuePair<string, string>>();

    // استرجاع الصلاحيات من الجلسة إذا كانت موجودة
    var permissionsJson = HttpContextAccessor.HttpContext.Session.GetString("UserPermissions");

    if (!string.IsNullOrEmpty(permissionsJson))
    {
        permissions = JsonConvert.DeserializeObject<List<KeyValuePair<string, string>>>(permissionsJson);
    }

    // التحقق من وجود صلاحيات معينة
    bool canRole = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.Role.View");
    bool canEdit = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Edit");
    bool canDelete = permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.StaffManagement.Delete");
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 pt-3">
            <header class="header-filter">
                <div class="group-filter d-flex">
                    @*                     <div class="input-group me-3">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-master" id="button-addon2" type="button"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <button class="btn btn-outline-master d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa-solid fa-arrow-down-wide-short me-2"></i>Filter</button>
                    *@
                </div>
                <div class="date">
                    @ViewBag.DisplayCurrntDate
                </div>
@*                 <a class="btn btn-master d-flex align-items-center rounded-pill btn-Create-Order" asp-controller="CreateOrders" asp-action="Index">
                    <i class="fa-solid fa-plus me-2"></i>Create Order
                </a> *@
                                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill btn-master" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-plus me-2"></i> Create
                    </button>
                    <ul class="dropdown-menu bg-primary text-white">
                        @if ( permissions !=null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.CreateOrders.Create")){
                        <li><a class="dropdown-item text-white" asp-controller="CreateOrders" asp-action="Index"><i class="fa-solid fa-plus me-2"></i> Order</a></li>
                        }
                        @if ( permissions !=null && permissions.Any(c => c.Key == "Permission" && c.Value == "Permissions.InspectionOrder.Create")){
                            <li><a class="dropdown-item text-white" asp-controller="InspectionOrder" asp-action="InspectionOrder"><i class="fa-solid fa-plus me-2"></i> Room inspiction</a></li>
                        }
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>
<div id="pageMasterLoad">
    <div class="HomeDashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="overview-Orders">
                        <h1 class="text-center fw-bold text-primary">Profile Settings</h1>
                        <div class="image-upload">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg">
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    @{
                                        //D:\source\repos\LodgeMasterWeb\LodgeMasterWeb\wwwroot\Companies\hjcont\images\employee\
                                        // string picprofile = "";
                                        // if (string.IsNullOrEmpty(@Model.bPhoto))
                                        // {
                                        //     picprofile ="../../Images/avatar/bg-man.jpg}";
                                        // }
                                        // else
                                        // {
                                        //     picprofile =$"../../Companies/{@Model.CompanyFolder}/images/employee/{@Model.bPhoto}";
                                        // }
                                       <div id="imagePreview" style="background-image: url(@Model.bPhoto);"></div>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-6 col-sm-12 mb-4">
                                    <input type="hidden" id="hfempid" value="@Model.EmpID" />
                                    <div class="form-group">
                                        <label for="">First name</label>
                                        <input class="form-control" id="txtFirstName" type="" value="@Model.FirstName" disabled >
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-12 mb-4">
                                    <div class="form-group">
                                        <label>Last name</label>
                                        <input class="form-control" id="txtLastName" type="text" value="@Model.LastName" disabled >
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-6 col-sm-12 mb-4">
                                    <div class="form-group">
                                        <label for="">Mobile</label>
                                        <input type="text" class="form-control" id="txtMobile" value="@Model.mobile" placeholder="5xxxxxxxx" maxlength="9">
                                    </div>
                                </div>
                                 <div class="col-lg-7 col-md-6 col-sm-12 mb-4 row">
                                     <div class="col-lg-6">
                                          <div class="form-group ">
                                        <a class="btn btn-outline-dark rounded-pill w-100" type="button" data-bs-toggle="modal" data-bs-target="#Changepassword" >Change Password</a>
                                    </div>
                                     </div>
                                     <div class="col-lg-6">
                                         <div class="form-group">
                                        <a class="btn btn-master  rounded-pill text-center w-100" href="#" onclick="SaveProfile()" >Update Profile</a>
                                    </div>
                                     </div>
@*                                     <div class="form-group">
                                        <label>e-mail</label>
                                        <input class="form-control" id="txtEmail" type="text" value="@Model.sEmail">
                                    </div> 
                                     <div class="form-group pt-4">
                                        <a class="btn btn-master rounded-pill" type="button" data-bs-toggle="modal" data-bs-target="#Changepassword" >Change Password</a>
                                    </div> *@
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-12 mb-4">
                                    <div class="form-group">
                                        @* <a class="btn btn-master rounded-pill" href="PasswordSettings.html">Changepassword</a> *@
                                    </div>
                                </div>
@*                                 <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                                    <div class="form-group">
                                        <a class="btn btn-master rounded-pill " href="#" onclick="SaveProfile()">Save</a>
                                    </div>
                                </div> *@
                            </div>
                            @* <div class="row "> 
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <a class="btn btn-master  rounded-pill text-center w-100" href="#" onclick="SaveProfile()" >Save</a>
                                    </div>
                                 </div>

                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Modal Change password *@
<div class="modal fade model-filter-home" id="Changepassword" tabindex="-1" aria-labelledby="ChangepasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Changepasswordbody">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">

                                <div class="form-group mb-2">
                                    <label  class="form-label"> Current Password</label>
                                    <input id="txtCurrntPassword" type="password" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <span id="ErrCurrentPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-2">
                                    <label  class="form-label">New Password</label>
                                    <input id="txtNewPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span id="ErrNewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-2">
                                    <label  class="form-label">Confirm Password</label>
                                    <input id="txtConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" />
                                    <span id="ErrConfirmPassword" class="text-danger"></span>
                                </div>
                                

                        </div>
                        <button class="btn btn-primary  mt-2" style="margin-inline-start: auto" onclick="UpdatePassword()"> Update password</button>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

@section Scripts {
    <script>

        function SaveProfile() {
             var objData = {};

             var empid = $("#hfempid").val();
             var firstName = $("#txtFirstName").val();
             var lastName = $("#txtLastName").val();
             //var email = $("#txtEmail").val();
             var mobile = $("#txtMobile").val();
             
            var fileInput = $("#imageUpload")[0];
            var file = fileInput.files[0];

            if (!empid || empid == undefined || empid=="") {
               //ShowMsgError ('enter user id');
                return false;
            }
            if (!firstName || firstName == undefined || firstName=="") {
                ShowMsgError('enter first name');
                return false;
            }
            if (!lastName || lastName == undefined || lastName=="") {
                ShowMsgError('enter last name');
                return false;
            } 
            // if (!email || email == undefined || email=="") {
            //     email = "";
            // } 
            if (!mobile || mobile == undefined || mobile=="") {
                mobile = "";
            }


             objData = {
                EmpID: empid,
                FirstName: firstName,
                LastName: lastName,
                //sEmail: email,
                mobile: mobile
            }

            var jsonData = JSON.stringify(objData);
            
            var formData = new FormData();
            formData.append("dataObj", jsonData);
            if (file) {
                formData.append("physImage", file);
            }
            else {
                formData.append("physImage", null);
            }

            $.ajax({
                url: '@Url.Action("SaveProfile", "Profile")',
                type: 'POST',
                //dataType: 'json',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {

                    if (data != null) {
                        if (data.success == true) {
                            ShowMsgSuccess (data.returnData);
                        }
                        else {
                            ShowMsgError(data.returnData);

                        }

                    }

                },
                error: function (error) {

                    ShowMsgError(error);
                }
            });

        }
        function UpdatePassword() {


           var objData = {};


            var currntpwd = $('#txtCurrntPassword').val();
            var newpwd = $("#txtNewPassword").val();
            var confirmpwd = $("#txtConfirmPassword").val();


            if (!currntpwd) {// } == null)  || txtitem_en == "" || txtitem_en == undefined) {
                $("#ErrCurrentPassword").html('Please enter currnt pssword');
                return false;
            }
            if (!newpwd) {// == null || txtitem_ar == "" || txtitem_ar == undefined) {
                $("#ErrNewPassword").html('Please enter New pssword');
                return false;
            }
            if (!confirmpwd) {
                $("#ErrConfirmPassword").html('Please enter confirm pssword');
                return false;
            }

             objData = {
                CurrentPassword: currntpwd,
                NewPassword: newpwd,
                ConfirmPassword: confirmpwd
            }

            var jsonData = JSON.stringify(objData);

            $.ajax({
                url: '@Url.Action("UpdatePassword", "Profile")',
                type: 'POST',
                dataType: 'json',
                data: { "dataObj": jsonData },
                success: function (data) {
                   
                    if (data != null) {
                       
                        if (data.success == true) {
                            ShowMsgSuccess (data.message);
                            $("#Changepassword").modal('hide');
                            clearModalItem();

                        }
                        else 
                        {
                            if (data.typeError == 1) {
                                 $("#ErrCurrentPassword").html(data.message);
                            }
                            else if (data.typeError ==2) {
                                 $("#ErrNewPassword").html(data.message);
                            }
                            else if (data.typeError == 3) {
                                $("#ErrConfirmPassword").html(data.message);
                            }
                            else{
                                 ShowMsgError(data.message);
                            }
                           
                            $("#Changepassword").modal('show');
                        }

                    }

                },
                error: function (error) {

                    ShowMsgError(error);
                }
            });
        }
    </Script>
}